@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">COMP2084-Lab2</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">COMP2084-Lab2</a>.</p>
</div>

<footer>
    <p>Sara Franzino Andrade 200489240</p>
</footer>